$base-style-color-1: #BAADFF;
$base-style-color-2: #9999FF;
$base-style-color-3: #F8F7FF;
$base-style-color-4: #FFEEDD;
$base-style-color-5: #FFD8BE;
$base-style-color-6: #13084D;

$base-style-font: 'Barlow', sans-serif;


