.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* see notes below */
    grid-gap: 1em;
  }
  
//   .grid > div {
//     background-color: #ccddaa;
//   }
  
  .grid > .box {
    min-height: 300px;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;  }