#welcome{
    // background-color: $base-style-color-1;
    border-radius: 5px;
    text-align: center;
    #brand col-4 {
        text-align: center;
    }
    #brand .col-6 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #brand col-2 {
        text-align: center;
        img{
            border-radius: 1em;
            width: auto;
        }
    }
    .brand-title{
        h1{
            font-size: 2em;    
        }
    }
}
.card-header{
    background-color: $base-style-color-5;
}
.card-body{
    background-color: $base-style-color-3;
}
.btn{
    background-color: $base-style-color-4;
    border: solid 1px $base-style-color-2;
    color: $base-style-color-2;
}