nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;


    .main-nav-wrapper {
        display: flex;
        padding: auto 1em;
        justify-content: space-evenly;
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 75px;
            a{
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-family: 'Courier New', Courier, monospace;
            }
        }
        .menu-icon{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
